{% extends "base.html" %}
{% block content %}

<div class="d-flex justify-content-center align-items-center" style="min-height: 85vh;">
<div class="col-md-5 col-lg-4">
    <div class="card login-card shadow-lg">
    <div class="card-header text-center bg-success text-white fw-bold py-3">
        <h4 class="mb-0">Sistema SeedDSS</h4>
    </div>
    <div class="card-body px-4 py-4">
        <h5 class="text-center text-success mb-3 fw-semibold">Iniciar Sesión</h5>
        <form method="POST">
        <div class="mb-3">
            <label class="form-label fw-semibold">Correo electrónico</label>
            <input type="email" name="email" class="form-control" placeholder="Ejemplo: usuario@correo.com" required>
        </div>
        <div class="mb-3">
            <label class="form-label fw-semibold">Contraseña</label>
            <input type="password" name="password" class="form-control" placeholder="Ingresa tu contraseña" required>
        </div>
        <button type="submit" class="btn btn-success w-100 py-2 mt-2">
            Ingresar
        </button>
        </form>
        <div class="text-center mt-3">
        <small class="text-muted">© 2025 SeedDSS | Análisis Inteligente de Semillas</small>
        </div>
    </div>
    </div>
</div>
</div>

{% endblock %}
