{% extends "base.html" %}
{% block content %}
<h3>Registro de Usuario</h3>
<form method="POST">
<label>Nombre completo:</label>
<input type="text" name="name" required>

<label>Correo:</label>
<input type="email" name="email" required>

<label>Contraseña:</label>
<input type="password" name="password" required>

<label>Rol:</label>
<select name="role_id" required>
    <option value="1">Administrador</option>
    <option value="2">Laboratorista</option>
    <option value="3">Supervisor</option>
</select>

<button type="submit">Registrar</button>
</form>
<p>¿Ya tienes cuenta? <a href="{{ url_for('login') }}">Inicia sesión</a></p>
{% endblock %}
